<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main_content">
            {{>header}}
            <p>This site was Created by Manish Bhardwa. It uses data from mapbox.com and darksky.net!</p>
        </div>

        {{>footer}}
    </body>
</html>