<!doctype html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main_content">
            {{>header}}
            <p>Create by {{name}}</p>
        </div>
        {{>footer}}
    </body>
</html>